html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* fonts */
.my-fnt-med {
  font-size:  15px !important;
}

.my-fnt-lar {
  font-size: 18px !important;
}

.my-fnt-xlar {
  font-size: 24px !important;
}

img{
  vertical-align: middle;
}

.my-top {
  top: 0;
}
.my-top, .my-bottom {
  position: fixed; /*to keep the position fixed*/
  width: 100%;
  z-index: 1;
}

.navbar {
  width: 100%;
  background-color: rgba(0,0,0,1);
  color: rgba(255, 255, 255 ,1);
  overflow: hidden;
}
/* background colors and text colors */
.my-black {
  background-color: rgba(0,0,0,1) !important; 
  color: rgba(255,255,255,1) !important;
}

.my-bg-red {
  background-color: red;
}

.my-grey {
  background-color: #f1f1f1 !important;
  color: #000 !important;
}

.navbar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0; 
}

.navbar .my-btn {
  white-space: normal;
}

.navbar > a:hover {
  color: rgba(0,0,0,1);
  background-color: rgba(255, 255, 255 ,1);
}

.my-btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}

button {
  font: inherit;
  margin: 0;
}

.my-pad-lg {
  padding: 12px 24px !important;
}

.my-pad-sm {
  padding: 8px 16px !important;
}

.my-pad-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.my-pad-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.my-rw-pad {
  padding: 0px 8px;
}

.my-right {
  float: right !important;
}

.my-section {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar .my-dropdown-hover {
  position: static;
  float: left;
}

.my-dropdown-hover:hover .my-dropdown-content{
  display: block !important;
}

.my-dropdown-hover:hover .navbar-item{
  float: none !important;
  display: block;
}

.my-dropdown-hover:hover > .my-btn:first-child{
  background-color:#ccc;
  color:#000;
}

.my-dropdown-hover:first-child, .my-dropdown-click:hover {
  background-color: #ccc;
  color: rgba(0,0,0,1);
} 

.my-hover-red:hover {
  background-color: red !important;
}


.my-dropdown-content {
  cursor: auto;
  color: rgba(0,0,0,1);
  background-color: rgba(255, 255, 255 ,1);
  display: none;
  position: absolute;
  min-width: 100px;
  margin: 0;
  padding: 0;
  z-index: 1.5;
}

/* navbar for smaller screens */
.my-hide {
  display: none;
}

.my-show {
  display: block;
}

.my-bar-block{
  width: 100%;
}

#navSmall {
  position: fixed;
}

#navSmall .navbar-item:hover {
  background-color: #ccc;
  color: rgba(0,0,0,1);
}

.my-bar-block .navbar-item {
  width: 100%;
  float: none;
  text-align: left;
  display: block;
  white-space: normal;
  outline: 0;
  border: none;
}

/* Content of the page */
.my-white{
  background-color: rgba(255, 255, 255 ,1) !important;
}

.my-text-white {
  color: rgba(255, 255, 255 ,1 ) !important;
}

.my-text-black {
  color: rgba(0,0,0,1);
}
.front-cover {
  display: none;
}

.my-display-container {
  position: relative;
}

.my-center {
  text-align: center;
  /* margin: auto; */
}

.my-display-container .image-text {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate( -50%, 0%);
}
/* Band section */

.my-content {
  margin-left: auto;
  margin-right: auto;
}

.my-wide {
  letter-spacing: 5px;
}

.my-justify {
  text-align: justify !important;
}

.my-bnd-img {
  border-radius: 5px;
}

.my-third {
  float: left;
  width: 100%;
}
.my-opac {
  opacity: 60%;  
  font-style: italic;
}

#tour {
  background-color: rgba(0,0,0,1);
}

.my-text-grey {
  color: grey;
}

.my-brdr {
  border: 1px solid #ccc !important;
  border-radius: 5px;
}

.my-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-tag {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.my-mar-left {
  margin-left: 16px !important;
}

.my-mar-btm {
  margin-bottom: 16px !important;
}

.my-mar-tp {
  margin-top: 5px !important;
}

.my-ul li {
  border-bottom: 1px solid #ccc;
}

.my-gorht {
  float: right;
  margin-right: 20px !important;
  border-radius: 50%;
  text-align: center;
  padding: 0px 8px;
  background: rgba(0,0,0,1) !important;
  color: white !important;  
}

.my-hov-opac:hover {
  opacity: 70%;
}

.my-rw-pad {
  padding: 0 8px;
}

.my-rw-pad > .my-third {
  padding: 0 8px;
}

.my-rw-pad > .my-half {
  padding: 0 8px;
}

.my-half {
  float: left;
  width: 100%;
}

.my-container {
  padding: 0.01em 16px;
}

.my-col {
  width: 100%;
  float: left !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.my-input {
  padding: 8px;
  display: block;
  width: 100%;
}


.my-container:after, .my-container:before, .my-panel:after, .my-panel:before, .my-row:after,.my-row:before,.my-row-padding:after,.my-row-padding:before,
.my-cell-row:before, .my-cell-row:after, .my-clear:after, .my-clear:before, .my-bar:before, .my-bar:after{
  content:""; display:table; clear:both
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .my-hide-small {
    display: none !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .my-hide-medium {
    display: none !important;
  }
}
/* Large laptops */
@media only screen and (min-width: 992px) {
  .my-hide-large {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) {
  .my-third {
    width: 33.3333%;
  }
  .my-col {
    width: 49.9999%;
  }
  .my-half {
    width: 49.9999%;
  }
}

/* @media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%} */